.album h2 {
  background-color: lightgoldenrodyellow;
  text-align: center;
}

.song {
  margin-top: 4.0em;
}

.filename {
  display: block;
  font-size: small;
  text-align: right;
  font-style: italic;
}
