<div class="index" >
  <ul>
    <% albums.each do |album| %>
      <li>
        <%= album.link_to_header %>
        <ul>
          <% album.songs.each do |song| %>
            <li><%= song.link_to_header %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
